<h3 style="text-align: right;">kids clothing</h3>
<div class="col-sm-4">
   
</div>
<div class="col-sm-4"></div>
<div class="col-sm-4">
    <div class="row">
    <div class="col-sm-12 well">
           <img src="assets/images/kids.jpg" style="width:100%;">
      </div>
     </div>
	  <div class="row">
    <div class="col-sm-12 well">
           <img src="assets/images/kids1.jpg" style="width:100%;">
      </div>
     </div>
	  <div class="row">
    <div class="col-sm-12 well">
           <img src="assets/images/kids2.jpg" style="width:100%;">
      </div>
     </div>
	  <div class="row">
    <div class="col-sm-12 well">
           <img src="assets/images/kids3.jpg" style="width:100%;">
      </div>
     </div>


</div>