<h3 >mens clothing</h3>
<div class="col-sm-4">

     <div class="row">
    <div class="col-sm-12 well">
           <img src="assets/images/men.jpg" style="width:100%;">
      </div>
     </div>
      <div class="row">
    <div class="col-sm-12 well">
           <img src="assets/images/men1.jpg" style="width:100%;">
      </div>
     </div>
	  <div class="row">
    <div class="col-sm-12 well">
           <img src="assets/images/men2.jpg" style="width:100%;">
      </div>
     </div>
	  <div class="row">
    <div class="col-sm-12 well">
           <img src="assets/images/men3.jpg" style="width:100%;">
      </div>
     </div>
</div>
<div class="col-sm-4">


</div>
<div class="col-sm-4"></div>