<html>
  <head>
    <script src="assets/js/angular.js"></script>
  </head>
  <body>
    <div ng-app="" ng-init=" item=['mango', 'apple', 'orange', 'banana'];">
	  <h3> {{item[2]}} </h3>
	  
	  <ul>
	    <li>item list</li>
		
		<li ng-repeat="a in item">{{a}}</li>
	</ul>
		<select>
		  <option>Choose Item</option>
		  <option ng-repeat="x in item" value="{{x}}">{{x}} </option>
		</select>
		
		<p>
		
		<label ng-repeat="x in item">
		<input type="checkbox"  >{{x}}
		</label>
		
		</p>
		
		<p ng-repeat="x in item">
		  <input type="text"  ng-model="x"><br>
		</p>
		
	 
	</div>
  </body>
</html>