<html>
  <head>
     <title>Employee details</title>
	 <link href="assets/css/bootstrap.css" rel="stylesheet">
	 <script src="assets/js/angular.js"></script>
	 <script>
	      var app=angular.module("myApp",[]);
		  app.controller("myctrl",function($scope){
		   
		     var employees=[{'name':'vinoth','email':'vinoth@gmail.com','DOB':'12.4.1994','mobile':'7698546789','salary':'40000'},
			                     {'name':'siva','email':'siva@gmail.com','DOB':'23.4.1992','mobile':'7698546789','salary':'40000'},
								 {'name':'kumar','email':'kumar@gmail.com','DOB':'23.4.1992','mobile':'7698546789','salary':'40000'},
								 {'name':'ram','email':'ram@gmail.com','DOB':'23.4.1992','mobile':'7698546789','salary':'40000'},
								 {'name':'andrew','email':'andrew@gmail.com','DOB':'23.4.1992','mobile':'7698546789','salary':'40000'},
								 {'name':'prakash','email':'prakash@gmail.com','DOB':'23.4.1992','mobile':'7698546789','salary':'40000'},
								 {'name':'ravi','email':'ravi@gmail.com','DOB':'23.4.1992','mobile':'7698546789','salary':'40000'}
			                     ];
		     $scope.empdet=employees;
			 
			 $scope.pass="1234";
			 
			 
		
		  });
	 
	 </script>
  </head>
   <body ng-app="myApp"> 
      <div class="container" ng-controller="myctrl">
	  <div class="row">
	  <div class="col-sm-12 text-center">
	   <input type="checkbox" value="salaryhidden" ng-model="hidesalary">Hidesalary
	  </div>
	  </div>
	  
	    <div class="row">
		  <div class="col-sm-3"></div>
		 <div class="col-sm-6 text-center">

		 
		 
		 
		 <table class="table table-bordered">
		   <thead>
		    <h2 class="text-center">Employee Details</h2>
		     <tr class="bg-warning">
			   <th>Name</th>
			   <th>Email</th>
			   <th>Date of Birth</th>
			   <th>Mobile</th>
			  <th ng-hide="hidesalary">salary</th>
			   <th ng-show="hidesalary">salary</th>
			 </tr>
		   
		   </thead>
		   <tbody>
		    <tr ng-repeat="employee in empdet">
		     <td>{{employee.name}}</td>
		     <td>{{employee.email}}</td>
			 <td>{{employee.DOB}}</td>
			 <td>{{employee.mobile}}</td>
			<td ng-hide="hidesalary"><input type="text" ng-model="pass"></td>
			<td ng-show="hidesalary"><input type="password" ng-model="pass"></td>
			 </tr>
		   </tbody>
		 </table>
		 </div>
		 <div class="col-sm-3"></div>
		
		</div>
	  
	  
	  </div>
     
   </body>
</html>