<html>
  <head>
     <title>Employee details</title>
	 <link href="assets/css/bootstrap.css" rel="stylesheet">
	 <script src="assets/js/angular.js"></script>
	 <script>
	      var app=angular.module("myApp",[]);
		  app.controller("myctrl",function($scope){
		   
		  
			 
		
			 
			 
		
		  });
	 
	 </script>
  </head>
   <body ng-app="myApp"> 
      <div class="container" ng-controller="myctrl">
	  
	  
	    <div class="row">
		<div class="col-sm-3"></div>
		
		<div class="col-sm-6">
		 <div class="row form-group">
		  <div class="col-sm-4"><label>email</label></div>
		 <div class="col-sm-8">
		 <input type="text" class="form-control"  ng-model="email">
		 </div>
		 </div>
		 
		  <div class="row form-group">
		  <div class="col-sm-4"><label>password</label></div>
		 <div class="col-sm-8">
		 <input type="password" class="form-control" ng-hide="hidesalary" ng-model="pass">
		 <input type="text" class="form-control" ng-show="hidesalary" ng-model="pass">
		 </div>
		 </div>
		 
		 <div class="row text-center">
	  <div class="col-sm-12 text-center">
	   <input type="checkbox" value="salaryhidden" ng-model="hidesalary">Show password
	  </div>
	  </div>
	  
	  <div class="row text-center">
	  <div class="col-sm-12 text-center">
	   <button class="btn btn-success">Login</button>
	  </div>
	  </div>
		
		</div>
		
		<div class="col-sm-3"></div>
	  
	  
	  </div>
     
   </body>
</html>