<html>
  <head>
     <title>Employee details</title>
	 <link href="assets/css/bootstrap.css" rel="stylesheet">
	 <script src="assets/js/angular.js"></script>
	 <script>
	      var app=angular.module("myApp",[]);
		  app.controller("myctrl",function($scope){
		   
			 
		
		  });
	 
	 </script>
	 <style>
	   input.ng-touched{
	     border:2px solid red;
	   }
	   input.ng-valid{
	   border:2px solid green;
	   }
	 </style>
  </head>
   <body ng-app="myApp"> 
      <div class="container" ng-controller="myctrl">
	  
	  
	    <div class="row">
		<div class="col-sm-3"></div>
		
		<div class="col-sm-6">
		<form name="form1" action="#" method="POST" novalidate>
		 <div class="row form-group">
		  <div class="col-sm-4"><label>Email</label></div>
		 <div class="col-sm-8">
		 <input type="email" class="form-control"  ng-model="email" placeholder="enter email" name="email" required>
		 <span ng-show="form1.email.$touched && form1.email.$invalid">
		 please enter email ,It can't be left blank
		 </span>
		 </div>
		 </div>
		 
		  <div class="row form-group">
		  <div class="col-sm-4"><label>Password</label></div>
		 <div class="col-sm-8">
		 <input type="password" class="form-control"   ng-model="pass"  placeholder="enter password" name="pass" required>
		<span ng-show="form1.pass.$touched && form1.pass.$invalid">
		 please enter password,It can't be left blank
		 </span>
		 </div>
		 </div>
		 
		
	  
	  <div class="row text-center">
	  <div class="col-sm-12 text-center">
	   <button type="submit" class="btn btn-success">Login</button>
	  </div>
	  </div>
		</form>
		</div>
		
		<div class="col-sm-3"></div>
	  
	  
	  </div>
     
   </body>
</html>