p1{
	color:red;
	float:left;
	border:2px solid red;
	text-align:center;
	
}
#div1{
	position:relative;
	left:130px;
	border:2px solid red;
	color:green;

}
.relative
{
	height:500px;
	width:500px;
	border:3px solid green;
	position:relative;
}
.absolute{
	height:100px;
	width:50px;
	border:2px solid red;
	position:absolute;
	left:450px;
	top:200px;
}
.fixed{
	position:absolute;
	width:100%;
	background:orange;
	height:50px;
	top:0px;
	left:0px;
	text-align:center;
	
}

#div2{
	
	height:200px;
	width:200px;
	float:left;
	margin:10px;
	background-color:red;
	
	
}

.fixed ul{
	list-style-type:none;
	
	
}
.fixed ul li{
	display:inline;
	margin:15px;
	
}
.fixed ul li a{
	font-size:20px;
	color:green;
	text-decoration:none;
	
	
}
.div3{
	 
	height:110px;
	width:110px;
	border:2px solid black;
	margin-top:80px;
	float:left;
	
	
}
.div4{
   height:110px;
	width:75%;
	position:relative;
	left:125px;
	top:80px;
    border:2px solid green;
}
img{
	margin:5px;
}