    body{
		   margin:0px;
		}
		#topline{
		     background:grey;
			 height:35px;
		}
		#topline2{
		
		       height:70px;
			   
		}
		
		#menublock{
		         
				 background:skyblue;
				 min-height:30px;
				 text-align:center;
		
		}
		#datablock{
		        
				min-height:400px;
				margin:auto;
				width:80%;
				
		}
		#footer{
		    
			height:100px;
			background:black;
			color:white;
			text-align:center;
			font-size:25px;
		
		}
		#box{
		     height:200px;
			 width:150px;
			 float:left;
			 margin:15px;
			 border:2px solid red;
			 border-radius:5px
		}
		#clearblock{ clear:both;
		}
		#menublock ul{
		       list-style-type:none;
		}
		
	    #menublock ul li{
		    display:inline;
            margin:20px;
			
		}
		
		#menublock ul li a{
		     color:green;
             font-size:19px;
             font-weight:bold;	
             text-decoration:none;													
					 }
		#menublock ul li a:hover{
		     color:blue;	
             text-decoration:underline;													
					 }			 
		 #mylogo{
		    height:50px;
			width:100px;
			border-radius:10px;
			margin:10px;
			margin-left:10%;  /* this is css comment*/
		 }
		#aboutblock{
		    border:2px dotted green;
			border-radius:5px;
			
		 }
		  legend{
		    font-size:18px;
			font-style:italic;
			color:red;
			
		 }
		  #contactblock{
		     border:2px dotted green;
			border-radius:5px;
			margin:auto;
			width:60%;
			
		 }
		#inputbox{
		      width:250px;
			  height:30px;
			  padding:5px;
		
		}
		
		#biginput{
		      width:250px;
			  height:100px;
			  padding:5px;
		      resize:none;
		}
		
			#inputbox:focus{
		       border:2px solid red;
			   
		
		}
			#biginput:focus{
		       border:2px solid red;
		
		}
		button{
		   background:green;
		   color:white;
		   font-size:17px;
		   font-weight:bold;
		   border-radius:15px;
		    border:1px solid green;
		 }
		 button:hover{
		   color:red;
		 
		 }
		